extends layout

block content
    div#games(style='width:100%')
        table#MD_game(style='width:100%')
            tr
                td(style='width:6%')
                    img(src='/images/molanddefense.png' style='width:4em')
                th(style='width:11%')
                    p Relic daily
                th(style='width:11%')
                    p Arena
                th(style='width:11%')
                    p Heroes
                th(style='width:11%')
                    p Chapter
                th(style='width:11%')
                    p Peak Arena
                th(style='width:11%')
                    p Earnings
                th(style='width:11%')
                    p Expencies
                th(style='width:11%')
                    p Total
                td(style='width:6%')
                    i.fa-regular.fa-square-plus.fa-2xl(onclick='addMDSeason()')
    script(type='text/javascript', src='javascripts/views/defence.js')
    script.
       var price = !{prices}
       savePrices(price)

       createMDTable()
       
       document.addEventListener('newSeasonAdded', (e) => {
            createMDTable()
       }, false)

       document.addEventListener('seasonDeleted', (e) => {
            createMDTable()
       }, false)

       document.addEventListener('mdValueChanged', (e) => {
            createMDSeasonResult(e.detail)
       }, false)

       

        