p.container(style="text-align:left") &#169; L3TT3 BSC: 0x5d1cc74EFad07620b9714D2b8de1782250935423

div.container(style="text-align:center")
    a(href="https://www.mobox.io/#/cmcairdrop?source=10010891")
        img(src="https://www.mobox.io/home/img/head1.6668fcc8.png" border="0" style="height:2em")
div.container(style="text-align:right")
    a(href="https://www.SmarterASP.NET/index?r=Liepinsch")
        img(src="https://www.SmarterASP.NET/affiliate/234x60.gif" border="0")