body {
/*    padding: 50px;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;*/
    padding: 0
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding-top: 2em;
    width: 80%;
    margin: auto;
    display: flex;
}

.footer {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-top: 3em;
    bottom: 0px;
    display: flex;
}


a {
    color: #00B7FF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
